html {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

h1 {
    font-size: 80px;
    line-height: 1;
    margin-bottom: 16px;
}

h2 {
    font-size: 30px;
    line-height: 1;
}

h3 {
    text-align: center;
    line-height: 1;
    font-size: 40px;
    margin-bottom: 40px;
}

h4 {
    font-size: 20px;
    margin-bottom: 6px;
}

p {
    margin-bottom: 16px;
}

header {
    /* background-color: rgba(255, 111, 111, 0.8); */
    background-image: url("../images/compressed-bg-image.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 166px 0 162px 0;
    color: white;
}

div.column {
    /* background-color: rgba(0,255,0,0.1); */
    width: 960px;
    margin: auto;
}

section {
    padding: 48px 0 39px 0;
}


section.intro {
    /* background-color: rgba(255, 0, 255, 0.5); */
    background-color: #e9ebf0;
}

.animal-image {
    float: right;
    border: 1px solid black;
    margin-left: 38px;
    margin-bottom: 38px;
}

section.photo-grid {
    /* background-color: rgba(70, 153, 255, 0.2); */
    background-color: rgb(59, 76, 143);
    color: white;
    padding-bottom: 64px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 23px;
    margin-top: -2px;
}

li {
    display: grid;
    grid-template-columns: 200px 1fr;
}

li > div {
    padding-left: 12px;
    padding-right: 22px;
}

section.final-section {
    /* background-color: rgba(255, 255, 0, 0.2); */
    background-color: rgb(216, 224, 255);
    /* padding-top: 74px; */
    padding-bottom: 100px;
}

p.final-paragraph {
    font-size: 26px;
    text-align: center;
    margin: auto;
    width: 703px;
    line-height: 1.37;
}

footer {
    padding-top: 42px;
    background-color: rgba(2, 0, 104, 1);
    padding-bottom: 24px;
    color: white;
}