header{
    margin-bottom: 3rem;
}

p {
    line-height: 1.6;
}

.see-all{
    font-size: 0.8em;
    text-transform: uppercase;
}

.shows > li > h1{
    font-size: 2.5rem;
}

.shows h2{
    font-size: 1rem;
    text-transform: uppercase;
}

.content h1, .content h2 {
    font-weight: 300;
}

.cast img {
    width: 100%;
}

.cast ul > li {
    width: 25%;
}

.shows > li{
    border-top: 1px solid black;
}

nav li.selected a {
    font-weight: bold;
    color: black;
}

.cast a > div{
    font-size: 0.8rem;
}

.cast a > div:first-of-type{
    font-weight: bold;
}

.cast a > div:last-of-type{
    font-style: italic;
}

#game-of-thrones .seasons ul > li:last-child::after{
    content: "*";
}

#game-of-thrones .seasons ul::after {
    content: "* Final Season";
    display: block;
    margin-top: 0.25rem;
    font-size: 0.7rem;
    color: #999;
}